.canvasHolder canvas {
  width: 100%;
  height: 100%;
  background-color: #eaeae4;
  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

@font-face {
  font-family: 'MainFont';
  src: url('../fonts/mainfont.ttf')  format('truetype');
}

@font-face {
  font-family: 'SmallPixel';
  src: url("../fonts/smallFont.ttf") format('truetype');
}

.topScores {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eaeae4;
  border: 1px solid #d6d6d0;

  display: flex;
  font-family: sans-serif;
  flex-direction: column;
  z-index: 9999;
}

.topTitle {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  color: #840032;
  height: 50px;
  width: 100%;
  line-height: 50px;
  margin-bottom: 10px;
}

.topBody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.topBody .row {
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid #d6d6d0;
  padding: 0 15px 0 15px;
  display: flex;
  height: 45px;
  line-height: 45px;
  flex-direction: row;
  justify-content: space-between;
}

.topScores.hidden {
  display: none;
}

.close {
  font-family: sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
  position: absolute;
  right: 5px;
  top: 0;
  padding: 0 15px 0 15px;
  cursor: pointer;
}

.center {
  font-family: 'SmallPixel', Fallback, sans-serif;
  width: 60%;
  max-width: 80vh;
}

.forGame {
  display: flex;
  height: 100%;
  justify-content: center;
}

.title {
  width: 100%;
  text-align: center;
}

.canvasHolder {
  width: 100%;
  padding-bottom: 106%;
  position: relative;
}

.dialog.hidden {
  display: none;
}

.dialog {
  width: 90%;
  height: 30%;
  margin: auto;
  top: 35%;
  left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f2f2f2;
  border: 1px solid #4b4b4b;
  z-index: 100;
  position: absolute;
}

.inputArea {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 5%;
}

.inputArea label {
  padding-right: 5px;
}

.inputArea input {
  height: 34px;
  width: 65%;
  font-family: 'MainFont', Fallback, sans-serif;
}

.buttonsArea {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 20px;
}

#cancel {
  background-color: #ff918b;
}

#cancel:hover {
  background-color: #d25858;
}

#save {
  background-color: #baff9e;
}

#save:hover {
  background-color: #99d485;
}

.button {
  border: 1px solid black;
  width: 125px;
  height: 100%;
  text-align: center;
  line-height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
}

span {
  font-size: 12px;
  position: absolute;
  bottom: 5px;
  right: 10px;
  color: #555555;
}

body {
  font-family: 'MainFont', Fallback, sans-serif;
  margin: 0;
  background-color: #eaeae4;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .center{
    width: 100%;
  }
}
