#field {
  width: 100%;
  height: 100%;
  background-color: #dddddd;
  position: absolute;
  top: 0;
  left: 0;
}

@font-face {
  font-family: 'MainFont';
  src: url('../fonts/mainfont.ttf')  format('truetype');
}

@font-face {
  font-family: 'SmallPixel';
  src: url("../fonts/smallFont.ttf") format('truetype');
}

.center {
  font-family: 'SmallPixel', Fallback, sans-serif;
  width: 60%;
  max-width: 80vh;
}

.forGame {
  display: flex;
  height: 100%;
  justify-content: center;
}

.canvasHolder {
  width: 100%;
  padding-bottom: 106%;
  position: relative;
}

body {
  font-family: 'MainFont', Fallback, sans-serif;
  margin: 0;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 800px) {
  .center{
    width: 100%;
  }
}
