<!doctype html>
<html class="no-js" lang="">

<head>
  <meta charset="utf-8">
  <title>Lines <%= version %></title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- link rel="stylesheet" href="css/lines.css" -->
  <!-- Place favicon.ico in the root directory -->

  <!--link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/main.css"-->

  <meta name="theme-color" content="#eaeae4">
</head>

<body >

  <h1 class="title">Lines Game!</h1>
  <div class="forGame">
    <div class="center">
    <div class="canvasHolder" id="fieldHolder">
      <div class="loading">
        <h1 class="loading">LOADING...</h1>
      </div>
    </div>
  </div>
  </div>
<span><%= version %> by Skyteeee. 2020</span>

</body>

</html>
